body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 21px;

  width: 100vw;

  overflow-x: hidden;

  display: flex;
  flex-direction: column;
}

.padding {
  padding: 24px 32px;
}

ul {
  list-style: none;
  padding: 0;
  width: 400px;
}

li {
  margin-bottom: 8px;
  width: 400px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 40px;
}

table td {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.red {
  color: red;
  border: 2px solid blue;
}


img.logo {
  width: 200px;
}

td.right {
  text-align: right;
}

table.no-border td {
  border: none;
}